---
import Layout from "../layouts/layout.astro";
---

<Layout title="Streaming - The Math Hub">
	<iframe
		src="/pages/bg.html"
		frameborder="none"
		class="fixed w-full h-full -z-10"></iframe>

	<main class="pt-30 p-10 flex items-center justify-center mb-15">
		<div id="c" class="w-full max-w-7xl h-150">
			<div>
				<select
					id="provider"
					class="rounded-xl bg-blue-900 text-white px-4 py-2 mb-5 w-full max-w-xs">
					<option value="vf">VidFast</option>
				</select>
			</div>

			<iframe
				id="player-frame"
				src=""
				frameborder="no"
				allowfullscreen
				class="w-full h-full rounded-2xl">
			</iframe>
			<script src="../scripts/cloak"></script>
			<script src="../scripts/player"></script>
			<h3 class="text-gray-300 text-center m-8">
				Data provided by TMDb API. The Math Hub doesn’t host movies; we
				only share links. Our site provides links to content hosted by
				third-party sites, over which we have no control. We take
				intellectual property rights seriously. If you believe a third
				party is infringing on your copyright, we recommend reaching out
				directly to the hosting provider or content source to address
				the issue. We do not host any content ourselves; we simply list
				links to external sources.
			</h3>
		</div>
	</main>
</Layout>
